* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, label, input, button {
    font-family: 'Space Mono', monospace;
}

body {
    background-color: hsl(185, 41%, 84%);
}

input {
    border: solid 3px transparent;
    transition: border 0.2s ease-in;
    background-color: hsl(189, 41%, 97%);
    appearance: none;
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
    display: block;
    color: hsl(186, 14%, 43%);
    margin: 0 0 10px 0;
}

input:focus, input.main-fields:focus {
    outline: none;
    border-color: hsl(172, 67%, 45%);
}

input.main-fields {
    width: 100%;
    padding: 8px 20px;
    font-size: 24px;
    border-radius: 8px;
    color: hsl(183, 100%, 15%);
    margin: 0 0 30px 0;
}

input.main-fields::placeholder {
    color:  hsl(184, 14%, 56%);
}

.app-name {
    text-align: center;
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    letter-spacing: 8px;
    margin: 50px 0 40px 0;
}

#mainCard {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 18px rgba(183, 100, 29, 12%);
}

.section .bill-section input {
    background-image: url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: 20px 50%;
}

.people input {
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: 20px 50%;
}


.percentages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.tip-percentage {
    font-size: 24px;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    width: 120px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: background-color 0.2s ease-in, color 0.2s ease-out;
    cursor: pointer;
}

.tip-percentage:hover {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.percentages input {
    width: 148px;
    height: 48px;
    border-radius: 6px;
    font-size: 24px;
    text-indent: 10px;
}

.selected-percentage {
    background-color: hsl(184, 14%, 56%);
    color: hsl(183, 100%, 15%);
}

.tip-percentage-section {
    margin: 0 0 30px 0;
}

.section {
    width: 50%;
}

.section:last-of-type {
    display: flex;
    flex-direction: column;
    background-color: hsl(183, 100%, 15%);
    padding: 50px;
    border-radius: 12px;
}

.tip-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px 0;
}

.tip-info {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
}

.tip-info span {
    font-size: 14px;
    color: hsl(185, 41%, 84%);
}

.big-values {
    font-size: 42px;
    color: hsl(172, 67%, 45%);
}

button {
    border: none;
    padding: 15px 0;
    font-size: 18px;
    text-transform: uppercase;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 8px;
    transition: background-color 0.2s ease-in;
}

button:hover {
    background-color: hsl(173, 61%, 77%);
}

/* Tables and above */
@media only screen and (min-width: 768px) {
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .app-name {
        margin-top: 0;
    }

    #mainCard {
        border-radius: 30px;
        flex-direction: row;
        max-width: 920px;
        margin: 0 30px 0 30px;
        gap: 50px;
    }

    .section:last-of-type {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 900px) {
    .tip-amount {
        flex-direction: column;
    }
}
